
.flexbox{
  display: flex;
  flex-direction: row;
}
.footer-grid{
  background: linear-gradient(to left, #2d450f, #335A02, #559901);
  background-size: 200% 100%;
  /* animation: gradientAnimation 5s ease-in-out infinite; */
  font-family: 'Quicksand', sans-serif;
}
.text-white{
  color: white;
}
.footer-logo img{
  display: flex;
  justify-content: center;
}
.circular{
  border: 1px solid;
  border-color: white;
  border-radius: 10px;
 
}
.social-links{
  text-decoration: none;
}
.social-links{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.hovers{
  cursor: pointer;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 768px) {
  .LogoTitle {
   font-size: 18px;
  }
  .insta-collag-img{
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .LogoTitle {
   font-size: 18px;
  }
  .insta-collag-img{
    width: 80%;
  }
}